.fileImg{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
width: 10%;
aspect-ratio: 1/1;
}
.fileImg img{

    width: 50px;
    /* border: solid red; */
    left: 500%;
    position: relative;
}

.fileSelectCheckBox{
position:absolute;
width: 20px;
height: 20px;
left:80%;
top:10%;
display: flex;
flex-direction: column;
align-items: right;
justify-content: right;
z-index: 10;

}


.fileSelectCheckBox input[type="checkbox"]{
    display: inline-block;
    pointer-events: none;
}
.labelFile{
    min-width: 150px;
    /* border: solid green; */
    position: relative;
    left:500%;
    
    /* font-size: xx-small; */
}
/* arrange the checkbox at the topright of the image */