h1{
    text-align: center;
}
.summaryArea{
    border: solid;
    position: relative;
    border-radius: 16px;
    width: 1000px;
    height: 500px;
    top: 10px;
    margin: auto auto;
    padding: 30px;
    margin-bottom: 20px;
    overflow: auto;
}
.Inactive{
    
    display: none;
}
.uploadArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 250px;
    margin: auto;
    width: 50%;
    height: 240px;
    
}


.uploadArea input{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    border: dotted blue;
    border-radius: 18px;
    
}

.docImg{
width:200px;
height:200px;
position: absolute;
z-index: -1;
opacity: 50%;
display: none;
}
.docActive{
    display: block;
}


.uploadArea input button{
    width: 2000px;
}

.uploadArea .dropArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border: dotted blue;
    border-radius: 18px;
    text-align: center;
    align-content: center;
    text-align:center;
    margin-bottom: 20px;
    margin-top: 20px;
    
    overflow:hidden;
}

.active{
    border-radius: 18px;
    background-color: hsla(228, 65%, 49%, 0.393);
    color: black;
    display: block;
}

.fileNamer{
    padding: 20px;
}




.slider_container{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 text-align:center;
 margin-bottom: 10px;
 margin-top: 20px;
 gap: 10px;
 }
 
 input[type="range"]{
     width: 170px; /* Full width */
     height: 8px; /* Track height */
     justify-content: center;
     align-content: center;
     text-align:center;
     margin-left: auto;
     margin-right: auto;
  }
  input[type="number"]{
    justify-content: center;
    align-content: center;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: -10px;
    margin-top: 20px;
  }
  input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
display: none;
  }


.submit{
    align-self: center;
    width: auto;
    height: auto;
display: inline;
text-decoration: none;
}



.btncontainer{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 text-align:center;
 margin-bottom: 10px;
 margin-top: 20px;
 gap: 10px;
 }

a{
    text-decoration: none;
    color: aliceblue;
}

a .smallBtn:hover{
    color:rgb(89, 89, 89);

}
.smallBtn{
    align-self: center;
    width: auto;
    height: auto;
    border-radius: 16px;
    /* background-color: rgb(10, 85, 151); */

}
/* Animations*/
@keyframes shrink {
    0%{
        width: 100%;
        height: 100%;
    }

    100%{
        width: auto ;
        height: 10%;
    }
}

@keyframes shrinkDelay {
    0%{
      margin-bottom: 0px;
    }

    100%{
     
        margin-bottom: -100px;
    }
}

.shrink{
    animation: shrink 0.2s ease-out 0s 1 normal forwards;
}
.shrinkDelay{
    animation: shrinkDelay 0.2s linear 0s 1 normal forwards;
}